<html>
    <body>
        <h2>{{name}} tried to reach us from the Nanban Website</h2><br>
        <h3>Name: {{name}}</h3>
        <h3>Email: {{email}}</h3>
        <h3>Message: {{message}}</h3>
    </body>
</html>